@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center text-white">
    <h1 class="display-4">Welcome</h1>
    <p>Step into the courtside realm of slam dunks and buzzer-beaters! Share your courtside perspective and dive into the game with our community of passionate NBA enthusiasts. Your reviews, your voice — let the basketball dialogue begin!</p>
</div>